<div class="background widget-card" *ngFor="let item of otherPlaces">
  <div class="body">
    <div class="image">
      <img src="{{item.image}}" alt="">
    </div>

      <div class="information">
        <div class="location">
            <div class="button ">
                <i class="fas fa-map-marker-alt"></i> <span class="widget-headquarter-name"> {{item.name| uppercase}}</span>
                <p class="loren">{{item.description | slice:0:40}}</p>
            </div>
        </div>

        <div class="footer">
          <div class="circle-left">
            <i class="fas fa-circle"></i> <span class="widget-humidity">{{item.main.temp| temperatureFormatter}}° C</span>
          </div>
          <div class="circle-center">
            <i class="fas fa-circle"></i> <span class="widget-humidity">{{item.main.humidity}} %</span>
          </div>
          <div>
            <i class="fas fa-circle"></i> <span class="widget-wind"> {{item.wind.speed}} m/s</span>
          </div>
        </div>
    </div>
    <div class="iconSun">
      <i class="widget-icon" [ngClass]="'wi wi-' + item.weather[0].icon"></i>
  </div>
  </div>
</div>

