.menu {
    font-family: Lato;
    color : #505050;
    padding: 10px;
    margin: 0px;
    display: flex;
}

.text {
  width: 70%;
  font-size: 60px;
  padding-left: 2rem;
}

.icons {
  margin-top: 1rem;
  font-size: 40px;
  text-decoration: none;
}

.icons a {
  color : #6757AC;
}

.fab {
  margin-left: 1rem;
}

.fa-instagram:hover{
  color: #d6249f;
}

.fa-facebook:hover{
 color: #1877F2;
}

.fa-twitter:hover {
  color: #00acee;
}

