<div class="containnerGlobal">
  <div class="background widget-card" *ngFor="let item of placesToVisit" [ngStyle]="{ background: 'url( '+ item.image+ ')',
  'background-size': 'cover',
  'background-po': 'no-repeat'}">
    <div class="containner">
      <div class="name">
        <p class="widget-city-name">{{item.name}}</p>
      </div>
      <div class="button">
        <a href="https://condorlabs.io/" target="_blank" rel="noopener noreferrer">
          VISIT PLACE
        </a>
      </div>
    </div>
  </div>
</div>




